/** @format */

nav {
	align-items: center;
	background-color: red;
	display: flex;
	height: 40px;
	justify-content: flex-end;
	width: 100%;
}
nav a {
	align-items: center;
	text-decoration: none;
	margin: 10px;
	color: white;
	padding: 5px;
}
nav div {
	display: flex;
	flex-direction: row;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 30px;
	font-weight: lighter;
	justify-content: baseline;
}
header img {
	height: auto;
	margin: 10px;
	width: 100px;
}
